// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field_with_errors {
  label {
    color: red;
  }
  input {
    border: 1px solid red;
  }
}

//https://cly7796.net/blog/css/hide-the-icon-that-is-displayed-when-the-input-type-is-date-or-time/
.icon-del::-webkit-calendar-picker-indicator {
  display: none;
}
