<%= link_to root_path, { class: "logo" } do %>
  <span class="logo-mini"></span>
  <span class="logo-lg">Twitter ボット</span>
<% end %>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
  <!-- Sidebar toggle button-->
  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <!-- Navbar Right Menu -->
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">

      <!-- Tasks Menu -->
      <li class="dropdown tasks-menu">
      </li>

      <!-- User Account Menu -->
      <li class="dropdown user user-menu">
      </li>

      <li>
        <%= link_to destroy_admin_user_session_path, method: :delete do %>
          ログアウト
        <% end %>
      </li>
    </ul>
  </div>
</nav>
